body {
    display: flex;
    flex-direction: column; /* Чтобы статистика была над полем */
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2c3e50;
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
}

.status {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(4, 120px);
    grid-template-rows: repeat(4, 120px);
    gap: 10px;
    background-color: #34495e;
    padding: 10px;
    border-radius: 8px;
    /* Кастомный курсор для всего поля */
    cursor: url('../img/hammer.png'), auto; 
}

.cell {
    background-color: #ecf0f1;
    border-radius: 4px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.goblin {
    width: 80%;
    height: auto;
    pointer-events: none; /* Важно! Клик должен попадать на cell, а не на img, чтобы было проще обрабатывать */
}